// 默认
.svg-class {
    width: 1em;
    height: 1em;
    fill: currentColor;
}
// 导航栏
.aside-svg {
    margin-bottom: -3px;
    // margin-left: -2px;
    font-size: 20px;
}
// logo
.logo-svg {
    font-size: 32px;
}